@media(max-width:768px) and (min-width:300px){

    body{
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;

    }
    .contact-container{
        height:fit-content;
        margin: 20px 0;
    }
    .contact-header p{
        font-size: 13px;
        text-align: center;
    }


    .contact-decoration{
        display: none;
    }
    hr{
        height: 2px;
        width: 50%;
        border-radius: 10px;
        background-color: #625f5f3a;

    }

}