@media(max-width:768px){
    body{
        grid-template-columns: 1fr;
        overflow-y: scroll;
        padding: 20px;
        place-content: center;
    }
    .contact-header p{
        font-size: 13px;
        text-align: center;
    }

    .contact-decoration{
        display: none;
    }
    hr{
        height: 2px;
        width: 50%;
        border-radius: 10px;
        background-color: #625f5f3a;

    }

}