.contact-container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 100%;
    max-width: fit-content;
    margin: 20px;
}


.form-group {
    margin-bottom: 1.2rem;
    border: 1px solid #c9c6c6;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
    height: fit-content;
    position: relative;
    padding: 5px 10px;
    font-family: 'poppinsnormal';

}

label {
    font-weight: 600;
    font-size: 0.9rem;
    top: 14px;
    left: 13px;
    position: absolute;
    color: #7e7d7d;
    pointer-events: none;
    padding:0 6px ;
}
input, textarea {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    transition: 0.3s;
    padding: 10px 0;
    border: solid 1px transparent;
    outline: none;
    transition: all 0.3s ease;
}

input:focus + label,input:not(:placeholder-shown) + label {
    animation: upText 0.3s forwards;
    }



textarea {
    resize: vertical;
    min-height: 100px;
}
textarea:focus + label,textarea:not(:placeholder-shown) + label {
    animation: upText 0.3s forwards;
    }



.submit-btn {
    width: 100%;
    background-color: #0b4952;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color:#0d7080 ;
}
.ws-btn{
    width: 100%;
    background-color: #32cd0f;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    place-content: center;
    text-decoration: none;
    column-gap: 5px;
    &:hover{
        filter: saturate(80%);

    }

}

.hr-contain{
    display: flex;
    margin-block: 10px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #333;
    

    hr{
        height: 2px;
        width: 50%;
        border-radius: 10px;
        background-color: #333;

    }
    }

    .contact-decoration{
        background-color: #0b4059;
        overflow: hidden;
        h2{
            color: whitesmoke;
            text-align: center;
            padding: 10px;

        }
        article{
            margin:10px 20px;
            height: fit-content;
        }
    }
    .creadores_title {
        text-align: center;
        font-size: 16px;
        padding: 4px;
        background-color: white;
        border-radius: 10px;
        width:30px;
        display: flex;
        align-items: center;
        height: 40px;
        overflow: hidden;
        margin: 10px;
        column-gap: 5px;
        position: relative;
        transition: width 0.3s ease-in-out;

        &:hover{
            padding: 2px 4px;
            width: 160px;
            overflow: hidden;
            transition: width 0.3s ease-in-out;
        }

    }
    
    .back-home{
        text-decoration: none;
        position: absolute;
        color: #333;
        font-family: 'semiboldpoppins';
    }


    .background-decoration{
        display: flex;
        column-gap: 10px;
        height: 80%;
        align-items: center;
        justify-content: center;
        
        img{
            height: 280px;
            width: 300px;
            border-radius: 20px;
            background-color: whitesmoke;
        }

    }