/* ========================================
   3. SECCIÓN INFO - Dispone de estas secciones
   Carrusel de capturas de la app
   ======================================== */

.seccion_info {
    background-color: #02202f;
    height: fit-content;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--semi-Bold-Popp);
}

.dispone {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #053952;
    font-size: 1.7em;
    background-color: rgba(255, 255, 255, 0.87);
    font-family: var(--semi-Bold-Popp);
}


/* Carrusel de imágenes */
.section_carrusel {
    margin: 30px 20px;
    display: flex;
    justify-content: center;
}

.carrusel_caps {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 800px;
    border-radius: 0 25px 0 25px;
    padding: 30px;
    background-color: rgb(182, 179, 174);
    z-index: 1;

}

.carrusel_caps img {
    width: 100%;
    height: 420px;
    flex-grow: 1;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    opacity: .8;
    transition: all ease .4s;
    border-radius: 18px;
}

.carrusel_caps img:not(:hover) {
    filter: contrast(80%);
    width: 80px;
}

.carrusel_caps img:hover {
    opacity: 1;
    width: 80px;
    filter: contrast(120%);
    cursor: crosshair;

}

.carrusel_caps img:nth-child(2),
.carrusel_caps img:nth-child(4) {
    background-color: #f5e9d4;
}

.subtitulo_carrusel {
    padding: 20px;
    text-transform: uppercase;
    max-width: fit-content;
    background-color: rgba(215, 218, 220, 0.986);
    border-radius: 25px 25px 25px 25px;
    color: #053952;
    position: absolute;
    font-family: var(--semi-Bold-Popp);
    margin: 30px 0 0 0;
    transform: translateY(50px);
}

.article-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    transform: translateY(40px);

}

.man-workout-img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    animation: respiration ease-in-out 1s infinite alternate;
}