/* ========================================
   RESET Y ESTILOS BASE
   ======================================== */

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'poppinsnormal', sans-serif;
}


/* =======================================
    IMPORT FONTS
   ======================================== */

   @font-face {
    font-family: "poppins";
    src: url(../../../fonts/poppins/Poppins-Italic.ttf) format("truetype");
    font-weight: 200;

}

@font-face {
    font-family: "poppinsnormal";
    src: url(../../../fonts/poppins/Poppins-Light.ttf) format("truetype");
    font-weight: 500;

}

@font-face {
    font-family: "semiboldpoppins";
    src: url(../../../fonts/poppins/Poppins-SemiBold.ttf) format("truetype");

}

@font-face {
    font-family: "poppinsBold";
    src: url(../../../fonts/poppins/Poppins-Bold.ttf)format("truetype");
}