@media (max-width: 767px) {

    .header .wrapper {
        width: 100%;
        justify-content: center;
    }

    .back-home {
        font-size: 15px;
    }


    .who-us-box {
        flex-direction: column;
        row-gap: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .why-us-box {
        article {
            flex-direction: column;
            row-gap: 10px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .why-do-it {
        flex-direction: column;
        row-gap: 10px;

        img {
            width: 100%;
            height: auto;
        }

        h2 {
            font-size: 20px;
        }

    }

    .developers {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        align-items: center;

        img {
            width: 50%;
            height: auto;
        }
    }

    #one,
    #two,
    #tree,
    #fourth,
    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 14px;
        background-color: rgb(31, 26, 26);
        width: 250px;
        grid-column: unset;

        &:hover {
            width: 250px;
        }
    }

    #one img {
        height: 250px;
        width: 280px;
        margin-left: -10px;
    }

    #five img {
        margin-left: -15px;
    }

    #one article,
    #two article,
    #tree article,
    #fourth article,
    #five article {
        text-align: center;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        place-content: center;
        width: 100%;
    }

    .note {
        display: none
    }

    .footer{
        height: auto;
        min-height: fit-content;
    }
    .footer .wrapper{
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: unset;
        min-height: fit-content;
    }

    .footer h4 {
        font-size: 16px;
        text-align: center;
        letter-spacing: normal;
    }

    .contact-box {


        >nav {
            text-align: center;
            width: 100%;
            padding: 10px 20px;

            >a {
                margin: 5px 0;
                font-size: 17px;

            }
        }
    }

    .redes-sociales h4 {
        font-size: 16px;
        margin-bottom: 10px;

    }

    hr {
        width: 100%;
    }

    footer small {
        font-size: 12px;
        text-align: center;
        text-indent: 0;
    }

    .redes-sociales {
        article {
            gap: 0 30px;

            >a img {
                width: 25px;
                height: 25px;
            }
        }

    }

    .copy {
        padding: 10px;
        margin-top: 0;

        article small {
            margin-bottom: 5px;
        }
    }

    .subtitulo_carrusel,
    .subtitulo_organigrama {
        margin: 20px 13px;

    }


}