/* ========================================
   SECCIÓN INFORMACIÓN
   (¿Quiénes somos?, ¿Qué hacemos?, etc.)
   ======================================== */

.informacion {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}
.who-us-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 70px 0;
    column-gap: 5px;
    height: fit-content;
    background-color: rgb(234, 250, 250);


    img{
        width: 550px;
        height: 450px;
    }

    article {
        text-align: justify;
        color: rgb(7, 57, 57);
        margin-right: 10px;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        p{
            text-indent: 10px;
            line-height: 2;
            padding-inline: 10px;
            font-size: 17px;
        }
    }
}
.why-us-box{
    display: block;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0;
    column-gap: 5px;
    height: fit-content;
    background-color: rgb(9, 82, 97);
    h2{
        color:#131010;
        text-align: center;
        margin-bottom: 20px;
        background-color: rgb(210, 207, 207);
        padding: 10px;
        border-radius: 0 0 20px 20px;
    }

    img{
        width: 600px;
        height: 400px;
    }

    article {
        text-align: justify;
        margin-right: 10px;
        padding: 20px;
        height: 100%;
        display: flex;
        column-gap: 20px;
        align-items: center;

        p{
            text-indent: 10px;
            line-height: 2;
            padding-inline: 10px;
            font-size: 17px;
            color: whitesmoke;
        }
    }

}
.why-do-it{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0;
    column-gap: 5px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(213, 213, 213);
    h2{
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        color: rgb(7, 57, 57);

    }

    img{
        width: 500px;
        height: 550px;
    }

    article {
        text-align: justify;
        margin-right: 10px;
        padding: 20px;
        height: 100%;
        display: block;

        p{
            text-indent: 10px;
            line-height: 2;
            padding-inline: 10px;
            font-size: 18px;
            color: #073939;
        }
    }
}



/* ========================================
   SECCIÓN DESARROLLADORES
   (tarjetas del equipo)
   ======================================== */

.desarrolladoresBox {
    display: block;
}
.developers-title{
    width: 100%;
    text-align  : center;
    background: #1c1919;
    color: white;
    padding: 10px;
}
.before-devps{
    width: 100%;
    background-color: rgb(9, 82, 97);
    margin-bottom: 70px;
    padding-bottom:20px ;
    

}
.developers{
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    grid-template-rows: repeat(2, 1fr);
    padding: 30px;
    gap: 20px;
    justify-content: center;
}


#one img,
#two img,
#tree img,
#fourth img,
#five img {
    width: 320px;
    height: 250px;
    border-radius: 20px;
    margin-left: -30px;
}

#one,
#two,
#tree,
#fourth,
#five {
    display: flex;
    border-radius: 20px;
    background-color: rgb(31, 26, 26);
    width: 219px;
    overflow: hidden;
    justify-content:space-between;
    transition: all ease 0.5s;
    &:hover{
        width: 450px;
        transition: all ease 0.5s;
    }



}
#one{
    grid-column: 1 / 2;
    grid-row: 1 / 3;


}
#one img{
    height: 100%;
}

#two{
    grid-column: 2;
    grid-row: 1;

}
#tree{
    grid-column: 2;
    grid-row: 2;


}
#fourth{
    grid-column: 3;
    grid-row: 1 ;
}
#five{
    grid-column: 3 ;
    grid-row: 2 ;
        img{
        width: 300px;
        margin-left: 0;
    }

}
#one article,
#two article,
#tree article,
#fourth article,
#five article {
    text-align: center;
    color: white;
    padding: 10px;
    height: 100%;
    display: flex;
    width: 200px;

    flex-direction: column;
    place-content: center;
}