/* ========================================
   SECCIÓN INFORMACIÓN
   (¿Quiénes somos?, ¿Qué hacemos?, etc.)
   ======================================== */

.informacion {
    width: 660px;
    margin: 20px 30px;
    background-color: rgb(134, 146, 158);
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px darkslategray;
}

.informacion h2 {
    color: rgb(7, 57, 57);
    font-size: 24px;
    text-shadow: 0 0 10px white;
}

.informacion p {
    text-align: justify;
    text-indent: 10px;
    line-height: 1.4;
}

/* ========================================
   SECCIÓN DESARROLLADORES
   (tarjetas del equipo)
   ======================================== */

.desarrolladoresBox {
    display: flex;
    justify-content: space-between;

}

#one img,
#two img,
#tree img,
#fourth img,
#five img {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px darkslategray;
    margin-left: 30px;
}

#one,
#two,
#tree,
#fourth,
#five {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 80px 30px 0;
    padding: 10px;
    background-color: rgb(7, 70, 85);
    border-radius: 10px;
    box-shadow: 0 0 10px darkslategray;
    width: fit-content;
    padding: 10px;
    width: 90%;

}

#one article,
#two article,
#tree article,
#fourth article,
#five article {
    text-align: center;
    color: white;
    margin-right: 10px;
    text-shadow: 0 0 10px white;
}