*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select:none;
    

}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(245, 251, 255);
    position: relative;
    --Poppins:'poppins', Arial;
    --semi-Bold-Popp:'semiboldpoppins', Arial;
    --color-secondary-blue:#2f8dbc; 
    --color-secondary-gray:#dfdbdb; 
}

/* header principal de la landing */
header{
    animation: aparecer linear 3s;
    animation:minimize-header linear both;
    animation-timeline:scroll(root block);
    color: white;
    /* background-color: #02202f; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 111;

}
.title{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


header figure{
    display: flex;
    padding: 10px;
    align-items: center;

    }

figure h1{
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    letter-spacing: 1px;
    font-family: var(--Poppins);
}

#logo_h{
    width: 50px;
    height: 45px;
    border-radius: 15px;
    background-color: aliceblue;

    
}
.sobre_nosotros{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-family: var(--semi-Bold-Popp);
}
.contacto{
    justify-content: center;
    align-items: center;
    padding: 6px;

}


.contain_info_icons{
    display: flex;
    margin-right: 10px;    
}

.sobre_nosotros a{
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    padding: 5px;
    border-bottom: solid transparent;
}

.sobre_nosotros a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke 2px;
    transition:all ease  .6s;
}
.contacto a{
    text-decoration: none;
    color:aliceblue;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: solid transparent;

}

.contacto a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke;
    transition:all ease .6s;
    transform: scale(1.1);
    text-shadow: 0 0 5px whitesmoke;
}
/* hasta aca el header principal */

/* aca empieza la informacion de introduccion, imagen, subtitulos, parrafos */
.subtitle_welcome{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-size:37px;
    /* padding: 10px; */
    color: whitesmoke;
    text-shadow: white 0 0 3px;
    height: 100px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    width: fit-content;
    min-height: fit-content;
    text-align: center;
    margin:20px 0 0 30px;

}

.seccion_introduccion{
    background:linear-gradient( rgba(0,0, 0,0.6),rgba(0,0, 0,0.6)),url(salud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 90dvh;
    animation: aparecer 3s;
    flex-wrap: wrap;
    min-height: fit-content;
    padding:30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.seccion_introduccion section{
    display: grid;
    grid-template-rows:150px 150px 100px;
    row-gap: 20px;
}

.seccion_introduccion p{
    color: whitesmoke;
    margin: 20px 0 0 0;
    width: 480px;
    font-family: var(--Poppins);
}

.contain_info_introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin:0 0 0 30px;

}
.contain_info_introduction article p{
    font-size: 14px;
    text-align: center;
    line-height: 30px;

}
.contain_info_introduction article{    
    height: 120px;
}
.img_menu_principal{
    width: 230px;
    height:410px;
    border-radius: 10px;
    z-index: 1;
    transition: all ease .4s;

}


.seccion_introduccion figure{
    display: flex;
    height: 100%;
    min-height: fit-content;
    justify-content: end;
    align-items: start;
    margin-right: 40px;
}


.img_menu_principal:hover{
    scale: 1.04;
    transition: all ease .4s;
    z-index: 1;
    filter: drop-shadow(0 0 10px whitesmoke);
}

.downloadApp{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin:40px 0 0 100px;
    border-radius: 10px;
    border:transparent;
    font-family: var(--semi-Bold-Popp);
    letter-spacing: 1.3px;
    font-weight: bold;
    box-shadow: whitesmoke 0 0 10px;
    cursor: pointer;
    font-size: 20px;
    color: #02202f;
    transition: all ease .4s;
}
.seccion_introduccion a{
    display: flex;
    justify-content: center;
    width: fit-content;
    text-decoration: none;
}

.downloadApp:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    background-color: #02202f;
    color: aliceblue;
    border: none;
    text-shadow: 0 0 7px whitesmoke;
}
/* hasta aca llega la seccion de introduccion */
/* secciones y funcion que posee healthypath */
.bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}

.bento img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    object-fit: contain;
    border-radius: 16px;

}

.item-1{
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;
    transition: all ease .4s;

}
.item-2{
    grid-column: 2 ;
    grid-row:2 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;

}
.item-3{
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    position: relative;
    border-radius: 18px;

}
.item-4{
    grid-column: 4;
    grid-row: 2 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    border-radius: 18px;
    position: relative;
}

.item-5{
    grid-column: 5;
    grid-row: 1 / 3;
    background-color: white;
    width: fit-content;
    height:fit-content;
    border-radius: 18px;
    position: relative;

}

.item-2 , .item-4{
    transform: translateY(-160px);
}
.item-1:hover::after{
    content: "✔ Visualizacion del menu principal";
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    animation: ap_left ease  .4s;
    transition: all ease .4s;
}
.item-2:hover::after{
    content:'😴 Sección del sueño';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}
.item-3:hover::after{
    content:'📋 Sección de recomendaciones';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    animation: ap_left ease  .4s;
}
.item-4:hover::after{
    content:'🥗 Sección de nutrición';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}
.item-5:hover::after{
    content:'🏋️‍♀️ Sección de actividad física';
    display: flex;
    text-align: center;
    place-content: center;    
    font-size: 15px;
    font-family: var(--semi-Bold-Popp);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16px;
    animation: ap_right ease  .4s;
}

.funcion_healthypath{
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 400px;
    margin-top: 100px;
    min-height: fit-content;
    background-color: #02202f;
}
.funcion_healthypath header{
    padding: 10px;
    font-family: var(--semi-Bold-Popp);
    font-size: 15px;
    z-index: 0;
    text-align: center;
    display: flex;
    align-items: center;

}

.funcion_healthypath header h3{
    color: whitesmoke;
    text-transform: uppercase;
}
.funcion_healthypath article{
    background-color: white;
    padding: 30px;
    width: fit-content;
}

.funcion_healthypath p{
    margin: 10px 0 20px 0;
    text-align: justify;
    font-family: var(--Poppins);
    line-height: 28px;
    width:auto;
    font-size: 14px;
    text-align: center;
}
.img-user-figure{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.user-cell-img{
    width: auto;
    border-radius: 5px;
    height: 200px;
}
.seccion_info{
    background-color: #02202f;
    height: fit-content;
    padding:0 20px 20px 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--semi-Bold-Popp);
}
.dispone{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #053952;
    font-size: 1.7em;
    background-color: rgba(255, 255, 255, 0.87);
    font-family: var(--semi-Bold-Popp);
}



/* Carrusel de imagenes */
.section_carrusel{
    margin:  20px 20px;
    display: flex;
    justify-content: center;
}

.carrusel_caps{
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 800px;
    border-radius:0  25px 0 25px;
    padding: 30px;
    background-color: rgb(182, 179, 174);
    z-index: 1;
    
}
.carrusel_caps img{
    width:100%;
    height: 420px;
    flex-grow: 1;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    opacity:1;
    transition: all ease .4s;
    border-radius: 18px;
    filter: contrast(120%);
}

.carrusel_caps img:hover{
    width: 80px;
    scale:(1.2);
    cursor: crosshair; 
}
.carrusel_caps img:nth-child(2), .carrusel_caps img:nth-child(4){
    background-color: #f5e9d4;
}

.subtitulo_carrusel{
    padding: 20px;
    text-transform: uppercase;
    max-width: fit-content;
    background-color: rgba(215, 218, 220, 0.986);
    border-radius:25px  25px 25px 25px;
    color: #053952;
    position: absolute;
    font-family: var(--semi-Bold-Popp);
    margin: 30px 0 0 0;
    transform: translateY(50px);
}
.article-carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    transform: translateY(30px);

}
.man-workout-img{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    animation: respiration ease-in-out 1s infinite alternate;
}

.box_infoimportant{
    display: flex;
    place-content: center;
    background-color: rgb(220, 222, 225);
    padding: 50px;
    margin: 70px 0;
}
.key-points-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 40px;
    padding-bottom: 35px;
}

.box_infoimportant article{
    background-color:rgb(239, 236, 236);
    border-radius:20px ;
    height: fit-content;
}
.subtitulo-boxinfo{
    grid-column:1;
    grid-row: 1 / 2;
    background:linear-gradient(rgba(0, 0, 0, 0.755),rgba(0, 0, 0, 0.766)) ,url(../img/views/key-point.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px); 
    border-radius:6px 6px 20px 20px;
    padding-block: 10px;
}
.subtitulo-boxinfo{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: var(--semi-Bold-Popp);
    padding: 10px;
    min-height: fit-content;

}
.subtitulo-boxinfo img{
    width: 90px;
    height: 80px;
    background-color: whitesmoke;
    border-radius: 15px;
    object-fit: cover;
}
.objetivo{
    grid-column:2;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;
}
.objetivo article{
    padding-inline: 20px;
    height: fit-content;
    height: 90%;
    display: flex;
    align-items: center;

}
.mision article, .vision article{
    padding-inline: 20px;
    height: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 35px;
}
.mision{
    grid-column:1;
    grid-row: 2 / 3;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;


}
.vision{
    grid-column:2;
    grid-row: 2 / 3  ;
    background-color: rgb(239, 236, 236);
    min-height: fit-content;

}


.objetivo h4{
    background-color: #f7ad19;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
    text-shadow: 0 0 1px darkslategray;
}
.mision h4{
    background-color: #2f9b61;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
    text-shadow: 0 0 1px darkslategray;

}
.vision h4{
    background-color:#02202f;
    border-radius: 6px 6px 0 0;
    color: var(--color-secondary-gray);
    line-height: 35px;
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform:uppercase ;
    text-shadow: 0 0 1px darkslategray;

}
.vision p, .mision p, .objetivo ul{
    font-size: 15px;
    text-align: justify;
    font-family: var(--Poppins);
}
.objetivo ul li{
    margin: 8px 0;
    list-style: inside;}
.vision p{
    line-height: 35px;
}
.subtitulo_organigrama{
    padding: 20px;
    max-width: fit-content;
    font-size: 20px;
    border-radius: 10px;
    font-family: var(--semi-Bold-Popp);
    color: #053952;
    text-transform: uppercase;
    text-align: center;
    background-color: whitesmoke;
}
.article-organigrama{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: lightblue;
    margin-bottom: 90px;
}

.organigramaimg{
    display: flex;
    align-items: center;
    justify-content: center;

}
.organigramaimg img{
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    
}
.box_serv_sol{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    padding:30px 20px;
    gap: 80px;
    height: 700px;
    min-height: fit-content;
    min-width: fit-content;
}
.servicios{
    width: 90%;
    height: 380px;
    margin: 10px 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;

}
.servicios > article, .soluciones > article{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-width: none;
    background-color: var(--color-secondary-gray);
    height: 90%;
    min-height: fit-content;
    border-radius:30% 10% 30% 0;
    padding: 10px 10px;
}
.service-img, .solution-img{
    width: 420px;
    height: 380px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.solution-img img, .service-img img{
    width: auto;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.soluciones{
    width: 90%;
    height: 440px;
    margin: 10px 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
}
.servicios h4, .soluciones h4{
    text-align: center;
    font-family: var(--semi-Bold-Popp);
    font-size: 2.5em;
    color: #053952;
    border-radius: 5px;
    padding: 4px;
    text-transform: uppercase;
}

.servicios p, .soluciones p{
    font-size: 14px;
    text-align: start;
    padding: 14px;
    margin-top: 15px;
    line-height: 1.8;
    color: rgb(39, 32, 32);
    font-family: var(--Poppins);
}
hr{
    background-color: rgba(255, 249, 249, 0.938);
    width: 95%;
    height: 2px;
    border: none;
    
}
footer{
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    height: 260px;
    background-color: #053952;
    padding: 15px 5px;
}

footer h4{
    font-size: 20px;
    border-radius: 10px;
    color: whitesmoke;
    letter-spacing: 1.2px;
    font-family: var(--semi-Bold-Popp);
}
footer .redes-sociales article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}
.copy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / -1 ;
    margin-top: 20px;
    min-height: fit-content;
}
.redes-sociales,.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.redes-sociales article{
    display: flex;
    gap:0 10px;
}
.redes-sociales article a img{
    width: 35px;
    height: 30px;
    object-fit: cover;
    transition: all ease .4s;

    &:hover{
        transform: scale(1.2);
        transition: all ease .4s;
        cursor: pointer;
    }
}
.redes-sociales h4{
    margin-bottom: 20px;
}
small{
    color: white;
    font-family: var(--Poppins);
}
.copy article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact-box a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'poppinsnormal', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: all ease .4s;
}
.contact-box{
    min-height: fit-content;
    margin-top: 35px;
}
.contacto ul{
    margin-top: 0px;
}
.contact-box a:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    cursor: pointer;
    text-shadow: 0 0 5px whitesmoke;
}

/* animaciones e importacion de fuentes*/
@font-face{
    font-family: "poppins";
    src: url(../fonts/poppins/Poppins-Italic.ttf) format("truetype");
    font-weight: 200;

}
@font-face{
    font-family: "poppinsnormal";
    src: url(../fonts/poppins/Poppins-Light.ttf) format("truetype");
    font-weight: 200;

}
@font-face{
    font-family: "semiboldpoppins";
    src: url(../fonts/poppins/Poppins-SemiBold.ttf) format("truetype");

}

@font-face{
    font-family: "poppinsBold";
    src: url(../fonts/poppins/Poppins-Bold.ttf) format("truetype");

}
@keyframes respiration{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes ap_left{
    from{
        opacity: 0;
        visibility: hidden;
        left: -10px;
    }
    to{
        opacity: 1;
        visibility: visible;
        left: 0;

    }
    
}
@keyframes ap_right{
    from{
        opacity: 0;
        visibility: hidden;
        right: 10px;
    }
    to{
        opacity: 1;
        visibility: visible;
        right: 0px;

    }
    
}
@keyframes  minimize-header{
    from{
        background-color: #053952;
    }
    to{
        background-color: rgba(5, 52, 84, 0.614);
        backdrop-filter: blur(5px);
        font-size: 18px;
        letter-spacing: 0;
        padding: 10px;    }
}

@keyframes aparecer{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
@keyframes aparecer-side{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

/* responsive design mobile*/
/* responsive design mobile */
@media(max-width: 768px){
    body{
        overflow-x: hidden;
        animation: aparecer 2s;
        width: 100vw;
        overflow-x: hidden;
    }

    main{
        width: 100vw;
        overflow-x: hidden;
    }
    header{    
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: fit-content;
        padding: 2px;
}
    /* html{
        scroll-behavior: unset;
    } */ 

    .title{
        display: none;
    }
    header figure h1{
        font-size: 12px;
        text-transform: uppercase;
    }
    .sobre_nosotros{
        margin-right: 0px;
        font-size: 12px;
    }
    .seccion_introduccion{
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px 30px;
    }
    .seccion_introduccion section{
        grid-template-rows: auto;
        row-gap: 10px;
    }

    .contain_info_introduction{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 0;
        height: fit-content;
    }
    .contain_info_introduction article p{
        font-size: 14px;
        line-height: 24px;
    }
    .contain_info_introduction article{    
        height: auto;
        width: 100%;
        margin: 10px 0;
    }
    /* .funcion_healthypath article, .funcion_healthypath header{
        animation: aparecer 3s;
    }
    .funcion_healthypath p{
        animation: aparecer 3s;
    } */


    .seccion_introduccion figure{
        display: none; /* ocultamos imágenes grandes en móvil */
    }
    .downloadApp{
        width: 100%;
        font-family: 'poppinsBold',Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 40px 0 0 0;
    }
    .seccion_introduccion a{
        justify-content: center;
        width: 100%;
    }


    .seccion_introduccion{
        height: auto; 
        padding: 20px 10px;
        background-attachment: scroll;
    }

    .seccion_introduccion p{
        width: 100%;
        max-width: 320px;
        font-size: 14px;
        margin: 10px auto;
        text-align: center;
    }

    .subtitle_welcome{
        font-size: 28px;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 0;

    }
    .funcion_healthypath{
        grid-template-columns: 100%;
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .funcion_healthypath header{
        padding: 10px;
        font-size: 14px;
        text-align: center;
        justify-content: center;
    }
    .funcion_healthypath article{
        padding: 20px;
        width: auto;
    }
    .funcion_healthypath header h3{
        width: fit-content;
        text-align: center;
    }

    .funcion_healthypath p{
        width: fit-content;
        max-width: 320px;
        font-size: 13px;
        margin: 10px auto;
        text-align: justify;
    }
    .funcion_healthypath .img-user-figure{
        padding: 0;
        width: 100%;
        > img{
            border-radius: 0;
            width: 100%;
        }
    }	
    .dispone{
        font-size: 20px;
        padding: 4px;
    }
    .bento{
        display: flex;
        gap: 10px;
        aspect-ratio: 10/16;
        overflow-y: scroll;
        position: relative;
        width: auto;
        scroll-snap-type:x mandatory;
        overflow-y: hidden;
        padding: 10px;
        height: 450px;    
    
}
    .bento img{
        height: 120px;
        width: auto;
        object-fit: cover;
        border-radius: 12px;
        scroll-snap-align: center;
    }
    .item-1, .item-2, .item-3, .item-4, .item-5{
        grid-column: unset;
        grid-row: unset;
        transform: unset;
        height: fit-content;
    }
    .seccion_info{
        padding: 0 10px;
        margin-top: 50px;
        height: fit-content;
    }
    .article-carrusel{
        width: 100%;
        margin-top: 20px;
    }
    .subtitulo_carrusel{
        font-size: 16px;
        margin: 30px 0;
        text-align: center;
        transform: translateY(60px);

    }
    .section_carrusel{
        margin:  30px 0;
        background-color: transparent;
    }
    .carrusel_caps{
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: transparent;
        row-gap: 10px;
        flex-direction: column;

    }
    .carrusel_caps img{
        height: 400px;
        width: 100%;
        flex-grow: unset;
        margin: 5px 0;
        padding: 20px;
        object-fit: cover;
    }
    .carrusel_caps img:not(:hover){
        filter: contrast(80%);
        width: 230px;
    }
    .carrusel_caps img:hover{
        width: 230px;
        filter: contrast(120%);
    }
    
    .box_infoimportant{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: fit-content;
        margin: 50px auto;
    }

    .key-points-box{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        width: 100%;
        height: auto;
        gap: 30px;
        padding-bottom: 0;
    }
    .objetivo, .mision, .vision{
        grid-column: unset;
        grid-row: unset;
    }
    .objetivo article, .mision article, .vision article{
        padding: 25px;
    }
    .subtitulo-boxinfo{
        font-size: 1em;
        margin:-50px -50px 0 -50px;
        border-radius: 0;
        padding:10px;

    
    }
    .subtitulo-boxinfo img{
        width: 70px;
        height: 60px;

    }
    .objetivo h4, .mision h4, .vision h4{
        font-size: 15px;
        padding: 10px 0;
    }
    .subtitulo_organigrama{
        font-size: 18px;
        padding:0;
        margin: -30px -30px 0 -30px;
        background-color: transparent;
    }
    .article-organigrama{
        padding: 0;
        margin-bottom: 50px;
    }
    .organigramaimg img{
        width: 100%;
        border-radius: 0;
        height: auto;
        /* box-shadow: 0 0 2px black; */
    }


    .servicios, .soluciones{
        width: 90%;
        height: auto;
        border-radius: 0;
        padding: 0;
    }
    .service-img, .solution-img{
        display: none;}
    .servicios > article, .soluciones > article{
        width: 100%;
        height: auto;
        border-radius: 0;
    }


    footer h4{
        font-size: 16px;
        text-align: center;
        letter-spacing: normal;
    }
    .contact-box{
        margin-top: 17px;

        > nav{
            > a{
                margin: 5px 0;
                font-size: 13px;
                
            }
        }
    }
    .redes-sociales h4{
        font-size: 16px;
        margin-bottom: 10px;

        > article{
            gap: 0 5px;
            > a img{
                width: 20px;
                height: 20px;
            }
        }
    }

    footer small{
        font-size: 12px;
        text-align: center;
        text-indent: 0;
    }
    .copy{
        padding: 10px;
    }
    .subtitulo_carrusel,.subtitulo_organigrama{
        margin: 20px 13px;

    }
}
