/* ========================================
   HEADER
   ======================================== */

header {
    background-color: rgb(225, 252, 252);
    padding: 4px;
    box-shadow: 0 0 10px darkslategray;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 28px;
    color: darkslategray;
    text-indent: 20px;
    margin-right: 20px;
    text-shadow: 0 0 10px black;
    ;
}

#logoimg {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}