/* ========================================
   HEADER
   ======================================== */

header {
    background-color: #02202f;
    display: flex;
    place-content: center;
    font-family: 'poppinsbold', sans-serif;
    text-transform: uppercase;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        padding: 20px 0;
    }
}

.creadores_title {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
}

#logoimg {
    width: 55px;
    height: 50px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}