/* ========================================
                    HEADER
   ======================================== */

header {
    background-color: #053952;
    display: flex;
    place-content: center;
    font-family: 'poppinsbold', sans-serif;
    text-transform: uppercase;
    div{
        display: flex;
        align-items: center;
        width: 1200px;
        padding: 20px 0;
    }
}

.creadores_title {
    text-align: center;
    font-size: 16px;
    padding: 2px 4px;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.back-home{
    text-decoration: none;
    transition: all ease-in-out .3s;
    background-color: white;
    color: #02202f;
    border-radius: 15px;
    border: solid 1px transparent;
    &:hover{
        transition: all ease-in-out .3s;
        border: solid 1px transparent;

    }
}

#logoimg {
    width: 55px;
    height: 50px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
}